@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    margin: 50px 0 0 80px;
}

a {
    color: #989d9c;
    font-size: 24px;
    font-weight: 600;
    padding-right: 23px;
}

.btn-header {
    width: 130px;
    height: 41px;
    background-color: #665ae1;
    border: none;
    border-radius: 50px;

    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

figure {
    display: inline-block;
    margin-top: 144px;
}

img {
    width: 568px;
    height: 500px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    width: 513px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    width: 448px;
}

p {
    color: #515151;
    font-size: 24px;
    font-weight: 400;
    width: 514px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.btn-main {
    width: 239px;
    height: 64px;
    background-color: #adff00;
    border: none;
    border-radius: 50px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));

    color: #000000;
    font-size: 28px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    header {
        display: none;
    }

    main {
        width: 100vw;
    }

    figure {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 24px;
    }

    img {
        width: 354px;
        height: 317px;
    }

    section {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
        text-align: center;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        width: 513px;
    }

    p {
        display: none;
    }
}
